.ewallet{
    /* background-image: url('../../assets/rose.jpg'); */
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    color: blanchedalmond;
}
h2{
    display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}